@{
    ViewBag.Title = "About";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>



<script type="text/javascript">
   
        alert('test10');
        
        var MSdate = "\/Date(1549956028000)\/";
        var jsDate = new Date(parseInt(MSdate.substr(6)));
        
        alert(jsDate);

        //alert(Date.parse(jsDate).toString('MM/dd/yyyy'));
        alert("chuyen doi:" + jsDate.toLocaleDateString());
    n
        alert('---------------------------');
        //alert($.datepicker.formatDate("dd-MM-yy", jsDate));
        //console.log(Date.parse(jsDate).toString('yyyy-MM-dd H:i:s'));
        //console.log("-1-------------------");
        //jsDate.toString("MM/dd/yyyy");

</script>