

@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TestABC.Models.Data.Notification
<section class="content-header"></section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Thông báo/Notification</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="">@Model.Message</label> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








