@{
    ViewBag.Title = "Index";
}
<section class="content">
    @*<link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />*@

    <!-- Display grid, CRUD button -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Program Name</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">
                    <i class="fa fa-plus"></i>
                    <span>Add New</span>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="table-responsive no-padding">
                        <table class="table table-bordered table-hover myTable">
                            <thead>
                                <tr class="bg-light-blue color-palette text-center">
                                    <th>
                                        ProgramName
                                    </th>
                                    <th>
                                        ProgramType
                                    </th>
                                    <th>
                                        FactoryID
                                    </th>
                                    <th>
                                        OperatorID
                                    </th>
                                    <th>
                                        CreatedDate
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>

                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"></button>

                            <h4 class="modal-title" id="myModalLabel">Add new ProgramName</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group row">
                                            <label for="ProgramName" class="col-sm-3 col-form-label">ProgramName</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="ProgramName" placeholder="ProgramName">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="ProgramType" class="col-sm-3 col-form-label">ProgramType</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="ProgramType" placeholder="ProgramType">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="OperatorID" class="col-sm-3 col-form-label">OperatorID</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="OperatorID" placeholder="OperatorID">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="FactoryID" class="col-md-3 control-label">FactoryID</label>
                                            <div class="col-md-9">
                                                <select name="dropdown" id="FactoryID" class="form-control">
                                                    <option value="F1" selected>F1</option>
                                                    <option value="F2">F2</option>
                                                    <option value="F3">F3</option>
                                                    <option value="F4">F4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnAdd" onclick="return InsertProgramName();">Save</button>
                            <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="UpdateProgramName();">Update</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@*<script src="~/Content/DataTables/datatables.min.js"></script>*@
<script src="~/Scripts/Common/SM_Common.js"></script>
<script src="~/Scripts/Program/ProgramName.js?v=@DateTime.Now.ToString("yyMMddHHssmm")"></script>


