@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <!-- Display grid, CRUD button -->
    <div class="row" style="overflow-x: scroll;">
        <div class="col-xs-12">
            <h2> Condition Setting</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Condition Setting</button><br /><br />
            <table class="table table-bordered table-hover">
                <thead>
                    <tr  class="bg-light-blue color-palette text-center">
                        <th style="display:none">
                            ID
                        </th>
                        <th>
                            Line
                        </th>
                        <th>
                            Machine Type Name
                        </th>
                        <th>
                            Pattern code
                        </th>
                        <th>
                            Control item
                        </th>
                        <th>
                            Spec display
                        </th>
                        <th>
                            Unit
                        </th>
                        <th>
                            Lower limit
                        </th>
                        <th>
                            Upper limit
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>

                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title" id="myModalLabel">Add new Condition Setting</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group row" style="display:none">
                                    <label for="ID" class="col-sm-3 col-form-label">ID</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="ID" placeholder="ID">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="LineID" class="col-sm-3 col-form-label">Line</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="LineID"></select>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="MachineTypeID" class="col-sm-3 col-form-label">MachineTypeID</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="MachineTypeID"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="PatternCode" class="col-sm-3 col-form-label">PatternCode</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="PatternCode" placeholder="PatternCode">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ControlItem" class="col-sm-3 col-form-label">ControlItem</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="ControlItem" placeholder="ControlItem">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="SpecDisplay" class="col-sm-3 col-form-label">SpecDisplay</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="SpecDisplay" placeholder="SpecDisplay">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Unit" class="col-sm-3 col-form-label">Unit</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Unit" placeholder="Unit">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="LowerLimit" class="col-sm-3 col-form-label">LowerLimit</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="LowerLimit" placeholder="LowerLimit">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="UpperLimit" class="col-sm-3 col-form-label">UpperLimit</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="UpperLimit" placeholder="UpperLimit">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="InsertConditionSetting();">Save</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="UpdateConditionSetting();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/Common/SM_Common.js"></script>
<script src="~/Scripts/ConditionSetting/ConditionSetting.js?v=@DateTime.Now.ToString("yyMMddHHssmm")"></script>


