@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <h2>Program Production Control Standard </h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" onclick="clearTextBox();" id="btnAdd">Add New</button><br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <label for="SearchProgramName">ProgramName</label>
                <input type="text" class="form-control" id="SearchProgramName" placeholder="SearchProgramName">
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label for="SearchPart">Part</label>
                <input type="text" class="form-control" id="SearchPart" placeholder="SearchPart">
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label for="SearchControlItem">ControlItem</label>
                <input type="text" class="form-control" id="SearchControlItem" placeholder="SearchControlItem">
            </div>
        </div>
        
        <div class="col-xs-4">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="btnSearch">&nbsp;</label>
                    <button type="button" class="btn btn-primary form-control pull-left" id="btnSearch" onclick="return ProgramPdtCtrl_SearchTools(1);">&nbsp;&nbsp;Search&nbsp;</button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="btnSearch">&nbsp;</label>
                    <button type="button" class="btn btn-primary form-control pull-right" id="btnClearSearchItem" onclick="return ClearSearchItem();">Clear Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="overflow-x: scroll;">
        <div class="col-xs-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-light-blue color-palette text-center">
                        <th>
                            ProgramName
                        </th>
                        <th>
                            Part
                        </th>
                        <th>
                            ControlItem
                        </th>
                        <th>
                            ColumnName
                        </th>
                        <th>
                            SpecDisplay
                        </th>
                        <th>
                            Unit
                        </th>
                        <th>
                            LowerLimit
                        </th>
                        <th>
                            UpperLimit
                        </th>
                        <th>
                            OperatorID
                        </th>
                        <th>
                            CreatedDate
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center" id="page-selection">
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"  style="width:50%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title" id="myModalLabel">Update Program PDT Control</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label for="ProgramName" class="col-sm-3 col-form-label">ProgramName</label>
                                    <div class="col-sm-9">
                                        <select class="form-control ProgramName" id="ProgramName1"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Part" class="col-sm-3 col-form-label">Part</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Part" placeholder="Part">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ControlItem" class="col-sm-3 col-form-label">ControlItem</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="ControlItem" placeholder="ControlItem">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ColumnName" class="col-sm-3 col-form-label">ColumnName</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="ColumnName" placeholder="ColumnName">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="SpecDisplay" class="col-sm-3 col-form-label">SpecDisplay</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="SpecDisplay" placeholder="SpecDisplay">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="Unit" class="col-sm-3 col-form-label">Unit</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="Unit" placeholder="Unit">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="LowerLimit" class="col-sm-3 col-form-label">LowerLimit</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="LowerLimit" placeholder="LowerLimit">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="UpperLimit" class="col-sm-3 col-form-label">UpperLimit</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="UpperLimit" placeholder="UpperLimit">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="OperatorID" class="col-sm-3 col-form-label">OperatorID</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="OperatorID" placeholder="OperatorID">
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-7 text-center">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="chkKeepInfoAndAutoSave">
                                    <label class="form-check-label" for="chkKeepInfoAndAutoSave">Keep information and auto save</label>
                                </div>
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <button type="button" class="btn btn-primary" id="btnClearInfo" onclick="clearTextBox();">Clear Info</button>
                        </div>
                        <div class="col-sm-9">
                            <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="ProgramPdtCtrl_Update();">Update</button>
                            <button type="button" class="btn btn-primary" id="btnSave" onclick="ProgramPdtCtrl_Insert();">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title" id="myModalLabel">Add new Program PDT Control</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="ProgramName" class="col-sm-3 col-form-label">ProgramName</label>
                        <div class="col-sm-6">
                            <select class="form-control ProgramName" id="ProgramName"></select>
                        </div>
                    </div>
                    <table class="table table-responsive" style="display: none;" id="myTableID">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Part</th>
                                <th scope="col">ControlItem</th>
                                <th scope="col">ColumnName</th>
                                <th scope="col">SpecDisplay</th>
                                <th scope="col">Unit</th>
                                <th scope="col">LowerLimit</th>
                                <th scope="col">UpperLimit</th>
                                <th scope="col">OperatorID</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="data-content">
                            <tr>
                                <th scope="row">1</th>
                                <td><input type="text" class="form-control Part" placeholder="Part"></td>
                                <td><input type="text" class="form-control ControlItem" placeholder="ControlItem"></td>
                                <td><input type="text" class="form-control ColumnName" placeholder="ColumnName"></td>
                                <td><input type="text" class="form-control SpecDisplay" placeholder="SpecDisplay"></td>
                                <td><input type="text" class="form-control Unit" placeholder="Unit"></td>
                                <td><input type="text" class="form-control LowerLimit" placeholder="LowerLimit"></td>
                                <td><input type="text" class="form-control UpperLimit" placeholder="UpperLimit"></td>
                                <td><input type="text" class="form-control OperatorID" placeholder="OperatorID"></td>
                                <td><button type="button" class="btn btn-danger" id="btnSave" onclick="DeleteRow(this);">Delete</button></td>
                            </tr>

                        </tbody>
                        <caption type="button" class="btn btn-primary" id="btnUpdate" onclick="AddRow();" style="margin: 10px;"><i class="glyphicon glyphicon-plus"></i></caption>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <button type="button" class="btn btn-primary" id="btnClearInfo" onclick="clearTextBox();">Clear Info</button>
                        </div>
                        <div class="col-sm-5"></div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" id="btnSave" onclick="Add_ProgramName();">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="clearTextBox();">Close</button>
                        </div>
                        <div class="col-sm-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="totalPage" />
</section>

@*<script src="~/Scripts/jquery-3.0.0.min.js"></script>*@
<script src="~/Scripts/Common/SM_Common.js"></script>
<script src="~/Scripts/Program/ProgramPdtCtrl.js?v=@DateTime.Now.ToString("yyMMddHHssmm")"></script>


